body {
    background-color: #f5f3f3;
}

a.borrarBoleto {
    background-color: rgb(211, 100, 100);
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a.borrarBoleto:hover {
    background-color: red;
}
a.verBoleto {
    
    background-color: rgb(104, 211, 100);
    padding: 5px 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

a.verBoleto:hover {
    background-color: rgb(9, 255, 0);
}


.submenu {
    position: relative;
    top: 10px;
}

.submenu #inmuebles{
    display: none;
}
.submenu:hover #inmuebles{
    display: block;
    /*  */
    position: absolute;
    right:0;
    top:100%;
    z-index: 1;
    background-color: white;
    padding: 20px;
    min-height: 400px;
    /* min-width: 300px; */
    max-width: 600px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.066);
}


.btn-info{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.tableInmuebles{
    width: 250px;
}